.Results {

}

.no-podcasts {
  height: calc(100vh - 6rem);
}

.podcast {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}

.img{
  display: inline-block; 
  margin: 0; 
  text-align: center;
  background-image: url('../../assets/images/music.jpg');
  background-size: cover;
  width: 18vw;
  height: 10vw;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.img:hover {
  background-image: url('../../assets/images/music.gif');
}

.info {
  margin: .5rem 0 0 1rem;
}

.info h1 {
  color: white;
  font-size: 1.2rem;
}

.info small {
  color: #ffc235;
}

.info p {
  margin-top: 1rem;
  color: white;
  font-size: .8rem;
}