<app-navbar></app-navbar>
<app-header (userOut)="getUser($event)"></app-header>
<div class="Listen content">
  <div *ngIf="podcast" class="container">
    <div class="podcast">
      <div class="gif">
        <img src="../../assets/images/poddo.png" class="cover" />
      </div>
      <audio controls controlsList="nodownload" class="audio">
        <source src="{{ podcast.audio }}" type="audio/mpeg" />
      </audio>
      <div>
        <small
          *ngFor="let tag of podcast.tags"
          class="tag"
          routerLink="/results"
          [queryParams]="{ tag: tag.toUpperCase() }"
          >#{{ tag }}</small
        >
      </div>
      <h1>{{ podcast.title }}</h1>
      <div class="info border-b">
        <small class="date">{{ podcast.creationDate }}</small>
        <h2 (click)="starPodcast()" class="star">
          {{ stars }}
          <img src="../../assets/images/star.svg" class="star-podcast" />
        </h2>
      </div>
      <div class="channel d-flex" *ngIf="channel">
        <div class="d-flex">
          <img
            src="{{ channel.logo || '../../../../assets/images/poddo.png' }}"
            class="logo"
            [routerLink]="['/channel', channel.id]"
          />
          <div>
            <p [routerLink]="['/channel', channel.id]" class="name">
              {{ channel.name }}
            </p>
            <small class="subs">{{ subscribers }} subscribers</small>
          </div>
        </div>
        <div
          class="subscribe"
          *ngIf="!user || !subscribed"
          (click)="user ? subscribe() : toLogin()"
        >
          Subscribe
        </div>
        <div
          class="subscribe"
          *ngIf="user && subscribed"
          (click)="unsubscribe()"
        >
          Unsubscribe
        </div>
      </div>
      <p class="description">{{ podcast.description }}</p>
    </div>
    <div class="comments">
      <form
        [formGroup]="commentForm"
        (ngSubmit)="submitForm()"
        class="add-comment"
      >
        <textarea
          placeholder="Add a public comment..."
          formControlName="text"
          class="add-comment-input"
          rows="3"
        ></textarea>
        <button type="submit" class="add-comment-btn">Comment</button>
      </form>
      <p *ngIf="comments.length"></p>
      <div *ngFor="let comment of comments" class="comment border-b">
        <div class="info">
          <small class="date">{{ comment.createdAt }}</small>
          <p (click)="starComment(comment.id)" class="star">
            {{ comment.stars }}
            <img src="../../assets/images/star.svg" class="star-comment" />
          </p>
        </div>
        <p class="text">{{ comment.text }}</p>
        <div *ngFor="let response of comment.responses">
          <small>{{ response.createdAt }}</small>
          <p>{{ response.text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
