/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html, body {
  height: 100%;
  font-family: Roboto;
}

.content {
  padding: 1rem 5rem;
  margin-left: 5rem;
  min-height: calc(100vh - 4rem);
  background-color: #181818;
}

.no-podcasts {
  color: white;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}