/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html, body {
  height: 100%;
}

.content {
  margin-left: 5rem;
  width: calc(100% - 5rem);
  min-height: calc(100% - 4rem);
  background-color: #181818;
}