.Home {
  padding: 1rem 5rem;
}

.tags {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #303030;
  padding: 1rem 0;
}

.tag {
  background-color: #303030;
  padding: 2rem;
  border-radius: 50%;
}

.podcasts {
  height: 100%;
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.podcast {
  width: 25%;
  padding: 1rem;
  cursor: pointer;
}

.no-podcasts {
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
}